.graticule {
  fill: none;
  stroke: #222;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: #ccc;
}

.county-boundary {
  fill: none;
  stroke: #aaa;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #222;
}

.graph {
  float: left;
}

.querier {
  display: inline-block;
  width: 480px;
}

.qfields, .qoptions {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.qfields {
  width: 40%;
}

.qoptions {
  width: 60%;
}

.where-item {
  position: relative;
}

.slider-container {
  margin: 10px 0;
}

.delete-button {
  position: absolute;
  right: 5px;
  top: 0px;
}

.field-item {
  display: inline-block;
  margin: 3px;
  padding: 5px;
}
